<% if current_user %>
<div id= "user_nav">
  <%= link_to "Homepage",  root_path %>
</div>
<% else %>
  <h1>Registration Form!</h1>

  <div id = "user_nav">
  <%= link_to "Login", root_path %>
  </div>
  <%= render 'form' %>
<% end %>

<%= debug(params) if Rails.env.development? %>

